.heading{
    width: 100%;
    margin: 0px;
    font-size: 25px;
    font-weight: bolder;
    }
    
    .information{
    font-size: 14px;
    color: black;
    }
    
    body{
    background-size: cover;
    font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
    .sub-heading{
    margin-top: 10px;
    font-size: 18px;
    border-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    canvas{
    border-radius: 28px;
    border: 5px solid white;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 40px;
    }

    @keyframes example{
    from {box-shadow: 8px 8px 48px Aqua;}
    to {box-shadow: 8px 8px 48px Crimson;}
    }